$primary: #03045eff; 
$font-family-base: 'Segoe UI', sans-serif;
$secondary: #023e8aff;
$ternary: #00b4d8ff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "ternary": $ternary
);

@import "bootstrap/scss/bootstrap";
